<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Simple form sample</title>
        <meta name="description" content="Sample HTML form example">
        <meta name="author" content="Matt Milner">
        <meta name="keywords" content="HTML, Pluralsight, Forms">
    </head>
    <body>
        <h1>Search</h1>
        
    </body>
</html>
