<!DOCTYPE html >
<html>
  <head>
    <title>HTML for examples</title>
    <meta name="keywords" content="HTML, forms, input, sample, Pluralsight">
    <meta name="description" content="Sample page showing a form for providing profile information.">
  </head>
  
  <body>
  <h1>Profile information</h1>
    <form method="post" action="profile.cshtml">
        
    </form>
     
  </body>
</html>